.footer {
    background-color: #303030;
    height: 6rem;
    width: 100%;
    display: block;
    position: absolute;
}
.link {
    padding-top: 2rem;
    float: left;
}
.link a {
    font-size: 16px;
    color: #fff;
}
.number {
    padding-top: 2rem;
    float: right;
    padding-right: 1em;
}
.number p {
    text-align: center;
    background: #fff;
    color: #000;
    line-height: 14.4px;
    font-size: 14.4px;
    width: 10px;
    font-weight: 700;
    font-family: Arial,Helvetica,Arial,sans-serif;
    padding: 2px 2px 1px 2px;
    margin: 3px 2px 0 0;
    border-radius: 4px;
}
.number p::before {
    content: "";
    display: block;
    height: 2px;
    width: 17px;
    position: absolute;
    margin-top: 6px;
    margin-left: -4px;
    background: rgba(0,0,0,.25);
}